#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -C utils
	cargo build --release

override_dh_auto_install:
	install -D -m 755 target/release/rustyfoot debian/rustyfoot/usr/bin/rustyfoot
	install -D -m 644 utils/libmod_utils.so debian/rustyfoot/usr/lib/rustyfoot/libmod_utils.so
	# Install HTML/JS/CSS assets
	mkdir -p debian/rustyfoot/usr/share/rustyfoot/html
	cp -a html/* debian/rustyfoot/usr/share/rustyfoot/html/
	# Install default and factory pedalboards
	mkdir -p debian/rustyfoot/usr/share/rustyfoot/default.pedalboard
	cp -a default.pedalboard/* debian/rustyfoot/usr/share/rustyfoot/default.pedalboard/
	cp -a factory-pedalboards debian/rustyfoot/usr/share/rustyfoot/factory-pedalboards
	# Install systemd service
	install -D -m 644 debian/rustyfoot.service debian/rustyfoot/usr/lib/systemd/system/rustyfoot.service

override_dh_auto_test:
	# Skip tests during build

override_dh_auto_clean:
	# Intentionally not cleaning build artifacts to allow incremental builds.
	# Use 'cargo clean' and 'make -C utils clean' manually if needed.
